wsdl/employee.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:tns="http://www.jcv.com/addEmployee"
                  targetNamespace="http://www.jcv.com/addEmployee">

    <!-- Descripci贸n del servicio -->
    <wsdl:types>
        <xs:schema targetNamespace="http://www.jcv.com/addEmployee" elementFormDefault="qualified">
            <!-- Definici贸n del tipo empleado -->
            <xs:element name="AddEmployeeRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="firstName" type="xs:string"/>
                        <xs:element name="lastName" type="xs:string"/>
                        <xs:element name="documentNumber" type="xs:string"/>
                        <xs:element name="documentType" type="xs:string"/>
                        <xs:element name="dateBirth" type="xs:date"/>
                        <xs:element name="dateJoining" type="xs:date"/>
                        <xs:element name="position" type="xs:string"/>
                        <xs:element name="salary" type="xs:decimal"/>
                        <!-- <xs:element name="age" type="xs:string"/>
                        <xs:element name="companyDuration" type="xs:string"/> -->
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- Respuesta del servicio -->
            <xs:element name="AddEmployeeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="success" type="xs:boolean"/>
                        <xs:element name="message" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>

    <!-- Descripci贸n del puerto y el binding -->
    <wsdl:message name="AddEmployeeRequestMessage">
        <wsdl:part name="parameters" element="tns:AddEmployeeRequest"/>
    </wsdl:message>

    <wsdl:message name="AddEmployeeResponseMessage">
        <wsdl:part name="parameters" element="tns:AddEmployeeResponse"/>
    </wsdl:message>

    <wsdl:portType name="AddEmployeePortType">
        <wsdl:operation name="AddEmployee">
            <wsdl:input message="tns:AddEmployeeRequestMessage"/>
            <wsdl:output message="tns:AddEmployeeResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="AddEmployeeBinding" type="tns:AddEmployeePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="AddEmployee">
            <soap:operation soapAction="http://www.jcv.com/addEmployee/AddEmployee"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <!-- Descripci贸n del servicio -->
    <wsdl:service name="AddEmployeeService">
        <wsdl:port name="AddEmployeePort" binding="tns:AddEmployeeBinding">
            <soap:address location="http://localhost:8080/ws/addEmployee"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
