wsdl/employee.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://jcvalerovergara.github.io/employee.wsdl"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="http://jcvalerovergara.github.io/employee.wsdl">
             
    <!-- Tipos de datos (XSD incrustado directamente) -->
    <types>
        <xsd:schema targetNamespace="http://jcvalerovergara.github.io/employee.wsdl" elementFormDefault="qualified">
            <!-- Definición del tipo empleado -->
            <xsd:element name="getEmployeeRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="employeeId" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="getEmployeeResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="firstName" type="xsd:string"/>
                        <xsd:element name="lastName" type="xsd:string"/>
                        <xsd:element name="position" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>

    <!-- Mensajes SOAP -->
    <message name="getEmployeeRequest">
        <part name="parameters" element="tns:getEmployeeRequest"/>
    </message>

    <message name="getEmployeeResponse">
        <part name="parameters" element="tns:getEmployeeResponse"/>
    </message>

    <!-- PortType -->
    <portType name="EmployeePortType">
        <operation name="getEmployee">
            <input message="tns:getEmployeeRequest"/>
            <output message="tns:getEmployeeResponse"/>
        </operation>
    </portType>

    <!-- Binding -->
    <binding name="EmployeeBinding" type="tns:EmployeePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getEmployee">
            <soap:operation soapAction="http://jcvalerovergara.github.io/employee.wsdl/getEmployee"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <!-- Servicio -->
    <service name="EmployeeService">
        <port name="EmployeePort" binding="tns:EmployeeBinding">
            <soap:address location="http://localhost:8080/ws/employees"/>
        </port>
    </service>
</definitions>
