wsdl/employee.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://jcvalerovergara.github.io/employee.wsdl"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="http://jcvalerovergara.github.io/employee.wsdl">
             
    <!-- Tipos de datos (XSD incrustado directamente) -->
    <types>
        <xsd:schema targetNamespace="http://jcvalerovergara.github.io/employee.wsdl" elementFormDefault="qualified">
            <!-- Definición del tipo empleado -->
            <xsd:element name="AddEmployeeRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="firstName" type="xsd:string"/>
                        <xsd:element name="lastName" type="xsd:string"/>
                        <xsd:element name="documentNumber" type="xsd:string"/>
                        <xsd:element name="documentType" type="xsd:string"/>
                        <xsd:element name="dateBirth" type="xsd:date"/>
                        <xsd:element name="dateJoining" type="xsd:date"/>
                        <xsd:element name="position" type="xsd:string"/>
                        <xsd:element name="salary" type="xsd:decimal"/>
                        <xsd:element name="age" type="xsd:string"/>
                        <xsd:element name="companyDuration" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- Respuesta del servicio -->
            <xsd:element name="AddEmployeeResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="success" type="xsd:boolean"/>
                        <xsd:element name="message" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>

    <!-- Mensajes SOAP -->
    <message name="AddEmployeeRequestMessage">
        <part name="parameters" element="tns:AddEmployeeRequest"/>
    </message>

    <message name="AddEmployeeResponseMessage">
        <part name="parameters" element="tns:AddEmployeeResponse"/>
    </message>

    <!-- PortType -->
    <portType name="EmployeePortType">
        <operation name="addEmployee">
            <input message="tns:AddEmployeeRequestMessage"/>
            <output message="tns:AddEmployeeResponseMessage"/>
        </operation>
    </portType>

    <!-- Binding -->
    <binding name="EmployeeBinding" type="tns:EmployeePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="addEmployee">
            <soap:operation soapAction="http://jcvalerovergara.github.io/employee.wsdl/addEmployee" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <!-- Servicio -->
    <service name="AddEmployeeService">
        <port name="EmployeePort" binding="tns:AddEmployeeBinding">
            <soap:address location="http://localhost:8080/ws/employee"/>
        </port>
    </service>
</definitions>
